.hidden{
  display: none;
}

.bold{
  font-weight: bold;
}

.unknown-length{
  overflow-x: auto;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

.tb-padding{
  padding-top: 40px;
  padding-bottom: 40px;
}

.vertical-text-padding{
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 20px;
}

.error-box{
  background-color: #ff8888;
  padding: 3px;
  border: 2px solid #a23535;
  width: 35%;
  position: relative;
  bottom: 8px;
}

.navbar-brand,
.navbar-nav li a {
  line-height: 100px;
  height: 100px;
  padding-top: 0;
  font-size: 20px;
}

.btn-mega{
  padding: 10px;
  width: 500px;
  border-radius: 20px;
  font-size: 20px;
}

.btn-regular{
  width: 200px;
}

.row-padded{
  padding-top: 25px;
}

.form-m{
  width: 400px;
}

.rounded-box{
  border-radius: 50px;
  border: 1px solid #bbb;
}

.box{
  border: 1px solid #bbb;
}

.searchbar{
  font-size: 20px;
  width: 621px;
  padding-left: 10px;
}

.criterionbox{
  font-size: 20px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.querybox{
  padding-bottom: 10px;
}

.searchbutton{
  padding-top: 4px;
  padding-left: 9px;
  padding-right: 9px;
  font-size: 18px;
}

.scrollbox{
  font-size: 20px;
  border: 1px solid #bbb;
  overflow-y: scroll;
  overflow-x: auto;
  text-align: left;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.title-text{
  font-size: 45px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-weight: bold;
}

.label-text{
  font-size: 30px;
  font-weight: bold;
}

.output-text{
  font-size: 25px;
}

#notifications-dropdown{
  padding-top: 25px;
}

#notifications-button{
  height: 50px;
  font-size: 18px;
}

#buffer-box{
  height: 80px;
}
