.col-centered{
  float: none;
  margin: 0 auto;
}

.tb-padding{
  padding-top: 40px;
  padding-bottom: 80px;
}

.error-box{
  background-color: #ff8888;
  padding: 3px;
  border: 2px solid #a23535;
  width: 35%;
  position: relative;
  bottom: 8px;
}

.navbar-brand,
.navbar-nav li a {
  line-height: 100px;
  height: 100px;
  padding-top: 0;
  font-size: 20px;
}

.btn-mega{
  padding: 10px;
  width: 500px;
  border-radius: 20px;
  font-size: 20px;
}

.row-padded{
  padding-top: 25px;
}

.form-m{
  width: 400px;
}

#title-text{
  font-size: 45px;
  padding-bottom: 30px;
  font-weight: bold;
}

#label-text{
  font-size: 30px;
  font-weight: bold;
}

#notifications-dropdown{
  padding-top: 25px;
}

#notifications-button{
  height: 50px;
  font-size: 18px;
}
